@import "../../utils/Variable.scss";

#projectSection {
  padding: 30px;

  h2 {
    letter-spacing: 3px;
    font-weight: bold;
    color: $secondary;
  }

  .buttons {
    text-align: center;
    margin: 40px 0 20px;

    .btnCat {
      margin: 0 10px 10px;
      width: 100px;

      @media (max-width: 576px) {
        width: 80px; 
      }
    }
  }

  .gallery {
    border-radius: 25px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px; 
    padding: 20px;

    @media (max-width: 895px) {
      gap: 5px; 
      padding: 10px;
    }
  }
}
