@import "../../utils/Variable.scss";

#contactSection{
    padding: 50px 70px;
    background-color: $contact;
    .contactForm{
        color: $primary;
        h2{
            margin-bottom: 40px;
        }
    }
}