@import "../../utils/Variable.scss";

#aboutSection {
  background-color: $bg;
  text-align: center;
  padding: 30px;
  article {
    h2 {
      color: $primary;
      font-size: xx-large;
      margin-bottom: 35px;
    }
    p {
      color: $primary;
    }
    .about-btn {
      border: none;
      background-color: $primary;
      color: $secondary;
      padding: 10px;
    }
  }
}
