@import "../../utils/Variable.scss";

#tsparticles {
  position: relative;
  z-index: -1;
}

#homeSection {
  margin: 40px 30px 50px 40px;
  h1 {
    color: black;
    font-size: 4em;
    font-weight: 500;
    margin: 0 0 20px 0;
    line-height: 4rem;
  }
  h2 {
    font-size: xx-large;
    letter-spacing: 0.8px;
  }
  p {
    max-width: 650px;
    font-size: 1.3em;
  }
  .home-btn{
    border: none;
    background-color: $secondary;
    color: $primary;
    padding: 10px;
}
  }

